@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
}
body{
    display: flex;
    background: #222;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.atkinson-hyperlegible-mono-fontstyle {
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("images/glassmorphimg.jpeg");
    background-size: cover;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(236, 238, 241, 0.096);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    height: fit-content;
    width: 30rem;
    overflow: hidden;
    position: relative;
}
.song-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: .5rem;
}
.song-info img {
    width: 22rem;
    height: 22rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.song-info h3{
    font-size: 2.3rem;
    padding: 1rem;
    width: 100%;
    color: #25d1ff;
    text-align: center;
}
.song-info p{
    width: 100%;
    font-size: 1.6rem;
    color: #25d1ff;
    text-align: center;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(242, 234, 234, 0.089);
    backdrop-filter: blur(8px);
    width: 100%;
    padding: 1rem;
}
.controls #togglePlay{
    width: 5rem;
    height: 5rem;
}
.controls  button{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: #25d1ff;
    background-color: rgba(242, 234, 234, 0.089);
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #25d1ff;
}
button:hover {
    background: #25d1ff;
    color: #383b44;
}
.progress-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.progress-container div{
    padding-top: .7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress-container div span{
    color: #fff;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: #eee;
    height: 2px;
    border-radius: 3px;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.playlist{
    position: absolute;
    width: 70%;
    background-color: #383b44;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}
.playlist h1{
    color: #25d1ff;
    padding-bottom: 1rem;
}
.playlist h1 span{
    color: #25d1ff;
    display: block;
}
.playlist_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.playlist_container button{
    border: none;
    cursor: pointer;
    background-color: inherit;
    padding: 1rem;
    color: #eee;
}
.playlist_container button:hover{
    color: #25d1ff;
    transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    -webkit-transform: scale(1.02);
}
.hidden{
    display: none;
}