@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
}
body{
    display: flex;
    background: #222;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
.atkinson-hyperlegible-mono-fontstyle {
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("images/glassmorphimg.jpeg");
    background-size: cover;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(236, 238, 241, 0.096);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    height: fit-content;
    width: 30rem;
}
.song-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: .5rem;
}
.song-info img {
    width: 22rem;
    height: 22rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.song-info h3{
    font-size: 2.3rem;
    padding: 1rem;
    width: 100%;
    color: #25d1ff;
    text-align: center;
}
.song-info p{
    width: 100%;
    font-size: 1.6rem;
    color: #25d1ff;
    text-align: center;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(242, 234, 234, 0.089);
    backdrop-filter: blur(8px);
    width: 100%;
    padding: 1rem;
}
.controls #togglePlay{
    width: 5rem;
    height: 5rem;
}
.controls  button{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: #25d1ff;
    background-color: rgba(242, 234, 234, 0.089);
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #25d1ff;
}
button:hover {
    background: #25d1ff;
    color: #383b44;
}
.progress-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.progress-container div{
    padding-top: .7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress-container div span{
    color: #fff;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: #eee;
    height: 2px;
    border-radius: 3px;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.popup{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    display: none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:100;
    background:#000c;
    backdrop-filter:blur(10px);
    position:fixed;
}
.popup-header {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    padding: 1.3rem;
}
.popup-header h1{
    font-size: 3.5rem;
    color: #25d1ff;
}
.popup-header i{
    font-size: 2.3rem;
    color: #fff;
    cursor: pointer;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
}
.popup-header i:hover{
    color: #25d1ff;
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.add-song-form{
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add-song-form .input{
    width: 100%;
    padding: 1rem;
    font: 1.5rem;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    border-radius: .9rem;
    -webkit-border-radius: .9rem;
    -moz-border-radius: .9rem;
    -ms-border-radius: .9rem;
    -o-border-radius: .9rem;
}
.add-song-form .input:focus{
    border: none;
    outline: 2px solid #25d1ff;
}
.file-input{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}
.file-input p{
   font-size: 1.5rem;
   color: #fff;
}
.file-input input[type="file"] {
    padding: 1rem;
    cursor: pointer;
}
 .add-song-button{
    width: fit-content;
    padding: 1rem;
    font-weight: 850;
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    cursor: pointer;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
}
.add-song-form button:hover{
    background-color: #1eb2db;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.playlist{
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    background-color:  black;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.playlist h2{
    font-size: 3rem;
    color: #25d1ff;
    padding: 1rem 0;
}
.playlist-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.playlist-items li{
    margin-bottom: 1rem;
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playlist-items li span{
    color: #fff;
    font-size: 1.5rem;
}
.playlist-items li i{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
.playlist-items li i:hover{
    color: #25d1ff;
}
.playlist-item.current {
    background-color: #25d1ff;
    color: #222;
    font-weight: bold;
}